body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.wrapper {
   padding: 1%;
   align-items: center;
}
.button-placeholder {
   padding: 10px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

#user-search {
   width: '30rem';
   text-align: 'centre';
   align-self: 'center';
}

#user-search:hover {
   opacity: 1;
   cursor: pointer;
   background-color: #ffc107;

   /* transition: opacity 0.2s ease; */
}

#user-search-header:hover {
   color: whitesmoke;
}
/* #user-details {
   margin: 5%;
} */
#user-details-header {
   color: whitesmoke;
}
#name-rating {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
#login-card {
   color: whitesmoke;
}

.Login-component {
   width: 100%;
   height: 150%;
   background-repeat: repeat;
   background-position: top;
   background-size: cover;

   position: absolute;
}

.Home-component {
   background-repeat: repeat;
   background-size: cover;

   width: 100%;
   height: 200%;
}

/* quick reset */
* {
   margin: 0;
   padding: 0;
   border: 0;
}

/* relevant styles */
.img__wrap {
   display: flex;
   justify-content: space-between;
}
.img__description {
   color: aqua;
   visibility: hidden;
   opacity: 0;

   /* transition effect. not necessary */
   transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description {
   visibility: visible;
   opacity: 1;
}
